/* VARS
   ====================================================== */


#section1 h1{
  font-size: 9vh;
  float:left;
  padding: 10vw;
  padding-top: 40vh;
  text-align: :center;
  font-family: 'Poppins', sans-serif;
}

#section1 h2{
  font-size: 4vh;
  text-align:center;
  font-family: 'Arvo', serif;
  display: inline;
}

#section1 h3{
  font-size: 3vh;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-color:#fffff;
}

#section5 h2{
  font-size: 6vh;
  display: inline;
  width: 30vw;
  font-family: 'Poppins', sans-serif;
  top:20vh;
}

.text-center {
    text-align: center!important;
    top: 20vh;
}



#section5 h3{
  top:40vh !important;
}
#section2 h1{
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
}

#section5 h4{
  font-size: 3vh;
  text-align:center;
  font-family: 'Arvo', serif;
}

#section2 p{
  font-size: 20px;
  padding-top:10vh;
  text-align: center;
  max-width: none;
}

.profile-img{
  border-radius: 50%;
  width: 50%;

}

.interest{
  padding: 2vh;
}


/* Gallary
   ================================================================== */
div.gallery {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top:10vh;
  text-align: center;

}

div.gallery img {
    width: 50%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}


/* LOOP FOR COLORING SECTIONS
   ================================================================== */
#section1 {
  background-image: url("../img/background.jpg");
  background-color: #cccccc;
  background-size: cover;
  max-width:100vw;
  max-height:100vh;
  background-repeat: no-repeat;

}
#section2 {
  background-image: url("../img/background2.jpg");
  background-color: #00000;
  background-size: cover;
  max-width:100vw;
  max-height:100vh;
  background-repeat: no-repeat;
}
#section3 {
  background-image: url("../img/background3.jpg");
  background-color: #00000;
  background-size: cover;
  max-width:100vw;
  max-height:100vh;
  background-repeat: no-repeat;
}
#section4 {
  background-image: url("../img/background4.jpg");
  background-color: #00000;
  background-size: cover;
  max-width:100vw;
  max-height:100vh;
  background-repeat: no-repeat;
}

#section5 {
  background-image: url("../img/background5.jpg");
  background-color: #00000;
  background-size: cover;
  max-width:100vw;
  max-height:100vh;
  background-repeat: no-repeat;
}
/* MIXINS
   ================================================================== */
/* KEYFRAMES
   ================================================================== */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes float-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes float-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes float-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes float-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* BASE
   ================================================================= */
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 2.35;
  color: rgba(255, 255, 255, 0.85);
  margin: 0;
}

/* DYNAMIC NAVIGATION BAR
   ================================================================= */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: transparent;
  -webkit-transition: all 650ms cubic-bezier(0.22, 1, 0.25, 1);
  transition: all 650ms cubic-bezier(0.22, 1, 0.25, 1);
  z-index: 1;
}
nav:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.27);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
nav ul {
  position: relative;
  float:right;
  margin: 0;
  z-index: 2;
  text-transform: uppercase;
  text-align: center;
}
nav ul li {
  display: inline-block;
  float: left;
  padding: 1.35em 0;
  margin-right: 3em;
  font-size: 0.9em;
}
nav ul li:active{
  font-weight: bolder;
}

.currentLink {
  text-decoration: underline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
}
/* CONTENT
   ================================================================== */
.sec {
  height: 100vh;
}
.sec h1,
.sec h2 {
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  text-align: center;
  padding-top: 8em;
  -webkit-animation: float-in-right 0.45s ease;
  animation: float-in-right 0.45s ease;
}
.intro {
  -webkit-animation: float-in-left 0.45s ease;
  animation: float-in-left 0.45s ease;
}

/* SERVICE
   ================================================================== */

.service-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.service-icon {
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
}

.service-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
  background-color: transparent;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}
.service-box .service-icon .front-content {
  position: relative;
  top: 80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
  font-size: 28px;
  color: #fff;
  font-weight: normal;
}

.service-box .service-icon .front-content h3 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.service-box .service-content h3 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.service-box .service-content p {
  font-size: 15px;
  color: #b1b1b1;
  margin: 0;
}
.yellow {
  background-color: #ffc000;
}
.orange {
  background-color: #fc7f0c;
}
.red {
  background-color: #e84b3a;
}
.grey {
  background-color: #474747;
}
.service-box:hover .service-icon {
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}
.service-box:hover .service-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.quote{
  font-size:15px;
  font-style: italic;
  font-family: "Dancing+Script";
}
.quote-person{
  font-size: 14px;
  font-style: italic;
  float: right;
}


/* TIMELINE
   ================================================================== */

/* HTML5 display-role reset for older browsers */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: transparent;
  padding: 50px 0;
  padding-top:6vh;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
  padding-top: 10vh;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 330px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  float:right;
  margin:40px;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: 1;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#section3 h1{
  font-size: 60px;
  display:inline;
  font-family: 'Poppins', sans-serif;

}

.timeline-intro{
  display: :inline;
}

@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}


/* GALLARY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#section5 h3 {
    left: 0;
    position: absolute;
    top: 60vh;
    width: 100%;
}

@charset "UTF-8";

.clearfix:after{
content:".";
display:block;
height:0px;
clear:both;
visibility:hidden;
}

.clear{
clear:both;
}

#big{
  width: 45vw;
  height: 50vh;
  background-image: url("../img/ECG-board.jpg") !important;
  background-repeat: no-repeat;
}

*{
-webkit-box-sizing:border-box;
        box-sizing:border-box;
}

element.style{
  font-family: 'Poppins', sans-serif;
}
.gallary-content-wrapp {
width:80vw;
height:80vh;
padding: 100vw;
vertical-align: baseline;
display: inline;
}

.gallary-content {
width:40vw;
margin:4vw;
position:relative;

}
#caption{
  margin-left: 50vw;
  display: inline !important;
}

.img-mini{
width:calc(100% / 3 - 2%);
height:90px;
overflow:hidden;
float:left;
margin:1%;
cursor:pointer;
}

.img-mini img:hover{
opacity:0.5;
}

.imgtext {
font-size:3rem;
position:absolute;
top:1%;
z-index:10;
color:#fff;
background-color: transparent;  
} 

