/* Scrolling */

body, html {
  height: 100%;
  margin: 0;
  max-width: 100vw;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.intro{
  color:#fff;
  font-size: 20px;
}

.outro{
    font-size: 20px;
    margin:50px;
    color:#fff;
}

#greeting{
    color:#fff;
    padding:100px;
    font-size: 70px;
}

.bgimg-1 {
  background-image: url("../img/background.jpg");
}

.bgimg-2 {
  background-image: url("../img/background2.jpg");
}

.bgimg-3 {
  background-image: url("../img/background3.jpg");
}
.bgimg-4 {
  background-image: url("../img/background4.jpg");
  height:auto;
}

.bgimg-5 {
  background-image: url("../img/background5.jpg");

}
.caption {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  vertical-align: center;
  color: #000;
}

.caption span.title {
  background-color: transparent;
  color: #fff;
  bottom:0px;
  padding: 40px;
  font-size: 40px;
  letter-spacing: 10px;
  border: 0px !important;
}



.page {
  position: absolute;
  left: 0;
  top: 1%;
  width: 100%;
  text-align: center;
  color: #000;
}

.page span.text_content {
  height: auto;
  display: block;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  color: #fff;
  padding-top:10vh;
  font-size: 18px;
  letter-spacing: 1px;
  border: 0px !important;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* IMG */

div.gallery {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top:10vh;
  text-align: center;

}

div.gallery img {
    width: 10vw;
    height: auto;
    border-radius: 50%;
}

/* SERVICE
   ================================================================== */
.interest{
  padding: 10vh;
}

.service-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.service-icon {
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
}

.service-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
  background-color: transparent;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}
.service-box .service-icon .front-content {
  position: relative;
  top: 80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
  font-size: 28px;
  color: #fff;
  font-weight: normal;
}

.service-box .service-icon .front-content h3 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.service-box .service-content h3 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.service-box .service-content p {
  font-size: 15px;
  color: #b1b1b1;
  margin: 0;
}
.yellow {
  background-color: #ffc000;
}
.orange {
  background-color: #fc7f0c;
}
.red {
  background-color: #e84b3a;
}
.grey {
  background-color: #474747;
}
.service-box:hover .service-icon {
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}
.service-box:hover .service-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.quote{
  font-size:15px;
  font-style: italic;
  font-family: "Dancing+Script";
}
.quote-person{
  font-size: 14px;
  font-style: italic;
  float: right;
}

/* TIMELINE
   ================================================================== */

.timeline {
  list-style: none;
  margin: 50px 0 22px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline:after {
  border: 6px solid;
  border-top-width: 13px;
  border-color: #f1524e transparent transparent transparent;
  content: "";
  display: block;
  position: absolute;
  bottom: -19px;
  margin: 0px 15px 0px;

}

.timeline-horizontal:after {
  border-top-width: 6px;
  border-left-width: 13px;
  border-color: transparent transparent transparent #f1524e;
  top: 15px;
  right: 0;
  bottom: auto;
  left: auto;
}
.timeline-horizontal .timeline-milestone {
  border-top: 2px solid #f1524e;
  display: inline;
  float: left;
  margin: 20px 0 0 0;
  padding: 40px 0 0 0;
}
.timeline-horizontal .timeline-milestone:before {
  top: -17px;
  left: auto;
}
.timeline-horizontal .timeline-milestone.is-completed:after {
  top: -17px;
  left: 0;
}

.timeline-milestone {
  border-left: 2px solid #f1524e;
  margin: 0 0 0 20px;
  padding: 0 0 5px 25px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-milestone:before {
  border: 7px solid #f1524e;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  left: -17px;
  width: 32px;
  height: 32px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-milestone.is-completed:before {
  background-color: #f1524e;
}
.timeline-milestone.is-completed:after {
  color: #FFF;
  content: '✓';■ 
  display: block;
  font-family: "FontAwesome";
  line-height: 32px;
  position: absolute;
  top: 0;
  left: -17px;
  text-align: center;
  width: 32px;
  height: 32px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-milestone.is-current:before {
  background-color: #f1524e;
}

.timeline-milestone.is-current:after {
  color: #FFF;
  content: '■'; 
  display: block;
  font-family: "FontAwesome";
  line-height: 32px;
  position: absolute;
  top: 0;
  left: -17px;
  text-align: center;
  width: 32px;
  height: 32px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-milestone.is-future:before {
  background-color: #8DACB8;
  border: 0;
}
.timeline-milestone.is-future .timeline-action .title {
  color: #8DACB8;
}

.timeline-action {
  background-color: #FFF;
  padding: 12px 10px 12px 20px;
  position: relative;
  top: -15px;
}

.timeline-action .title, .timeline-action .content {
  word-wrap: break-word;
}
.timeline-action .title {
  color: #00637d;
  font-size: 18px;
  margin: 0px;
}
.timeline-action .date {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.timeline-action .content {
  font-size: 14px;
}

.file-list {
  line-height: 1.4;
  list-style: none;
  padding-left: 10px;
}

.timeline_page h1{
  height: auto;
  display: block;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  color: #fff;
  padding-top:10vh;
  font-size: 3vw;
  letter-spacing: 1px;
  border: 0px !important;
}

.timeline_page {
  max-width: 1200px;
  margin: 0px 30px;
}

.timeline_page a {
  color: #f1524e;
  text-decoration: none;
}
.timeline_page a:hover,.timeline_page a:focus {
  text-decoration: underline;
}


.boxxx{
  margin:20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  display:table;
}
.boxxxx{
    display:table-cell;
  vertical-align:middle;
}
.text-desc{
  color:#191919!important;
}
.fill{
  height:100vh;
}



